<div class="container-fluid">

    <div class="row">
        <div class="col-lg-12">
            <div class="card-box">
                <h4 class="header-title mb-3">Liste des ressources</h4>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-box">

                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a href="#home" data-toggle="tab" aria-expanded="false" class="nav-link active">
                                        <i class="fi-monitor mr-2"></i> Ordinateur
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#profile" data-toggle="tab" aria-expanded="true" class="nav-link ">
                                        <i class="fas fa-print"></i> Imprimante
                                    </a>
                                </li>

                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane show active" id="home">
                                    <div class="container-fluid">



                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="card-box">
                                                    <h4 class="header-title mb-3">Liste des Ordinateurs</h4>

                                                    <div class="table-responsive">
                                                        <table class="table table-hover table-centered m-0">

                                                            <thead>
                                                                <tr>
                                                                    <th>Code bar</th>
                                                                    <th>Marque </th>
                                                                    <th>Date Liveraison</th>
                                                                    <th>RAM</th>
                                                                    <th>Disque Dur</th>
                                                                    <th>CPU</th>
                                                                    <th></th>
                                                                   
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let computer of computers$ | async">
                                                                    <td>
                                                                      {{computer.barCode}}
                                                                    </td>
                                                                    <td>
                                                                        {{computer.brand}}
                                                                    </td>
                                                                    <td>
                                                                        {{computer.deliveryDate}}
                                        
                                                                    </td>
                                                                    <td>
                                                                        {{computer.cpu}}
                                        
                                                                    </td>
                                                                    <td>
                                                                        {{computer.ram}}
                                        
                                                                    </td>
                                                                    <td>
                                                                        {{computer.disk}}
                                        
                                                                    </td>
                                                                    <td>
                                                                        
                                                                        <button (click)="onConsultResource(computer.id)" 
                                                                        class="btn btn-sm btn-custom">
                                                                        <i class="fa fa-eye"></i>  </button>
                                                                        
                                                                    </td>

                                                                </tr>


                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="profile">
                                    <div class="container-fluid">



                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="card-box">
                                                    <h4 class="header-title mb-3">Liste des Imprimantes</h4>

                                                    <div class="table-responsive">
                                                        <table class="table table-hover table-centered m-0">

                                                            <thead>
                                                                <tr>
                                                                    <th>Code bar</th>
                                                                    <th>Marque</th>
                                                                    <th>Date Livraison</th>
                                                                    <th>Resolution</th>
                                                                    <th>Vitesse</th>
                                                                    <th>    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let printer of printers$ | async">
                                                                    <td>
                                                                        {{printer.barCode}}
                                                                        <span *ngIf="printer.deliveryDate == null">null</span>
                                                                    </td>
                                                                    <td>
                                                                        <span *ngIf="printer.deliveryDate == null">null</span>
                                                                        {{printer.barCode}}
                                                                    </td>
                                                                    <td>
                                                                        <span *ngIf="printer.deliveryDate == null">null</span>
                                                                        {{printer.deliveryDate}}
                                                                    </td>
                                                                    <td>
                                                                        {{printer.resolution}}
                                                                    </td>
                                                                    <td>
                                                                        {{printer.printSpeed}}
                                                                    </td>
                                                                    <td>
                                                                        <button (click)="onConsultResource(printer.id)" 
                                                                        class="btn btn-sm btn-custom">
                                                                        <i class="fa fa-eye"></i>  </button>
                                                                    </td> 
                                                                </tr>


                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div> <!-- end col -->

                </div>

            </div>

        </div>
    </div>
 


</div>